*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
 
}



/* .navbar .dropdown:hover .dropdown-menu {
  display: block;
} */

.horizontal-line {
 
  width: 100%;
  height: 0.2px;
  background-color: rgb(212, 209, 209);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.logo {
  width: 130px;
}
.card:hover {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); /* Thay đổi giá trị này để điều chỉnh box shadow theo mong muốn */
}

.card a.text-decoration-none:hover {
  text-decoration: underline; /* Thêm đường gạch chân khi rê chuột vào thẻ <a> trong thẻ .card */
}


.card {
  border-radius: 10px; /* Điều chỉnh giá trị này theo độ cong mà bạn muốn */
}

@media (max-width: 768px) {
  .logo-container {
      display: none;
  }
}